/*
Colors used:
Primary Color (Peacock): #052C30; (Dark Purple) #3D323F
Secondary Color (Caribbean): #21666E; (Light Pink)#FDDCEF
Tertiary Color (Space Blue): #123454; #847072
Quaternary (Pebble): #9795A3
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #3D323F;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-size: 1.05em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #E2A6A5;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #FDDCEF;
}

a:hover,
a:focus {
  opacity: 0.8;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #B2A59F;
}

nav>ul>li>a:visited {
  /* visited link */
  color: #FDDCEF;
}

nav>ul>li>a:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: underline;
}

nav>ul>li>a:active {
  /* selected link */
  color: #B2A59F;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #3D323F;
  color: #FDDCEF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #FDDCEF;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  /* visited link */
  color: #FDDCEF;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  /* selected link */
  color: #B2A59F;
}

.button.contact {
  background-color: transparent;
  color: #3D323F;
  text-transform: uppercase;
  border: 2px solid #3D323F;
}

.button.contact:hover {
  background-color: #3D323F;
  color: #FDDCEF;
}

.button.contact:active {
  /* selected link */
  color: #FDDCEF;
}

.container {
  max-width: 1200px;
}

/* Layout styling */
header {
  background-color: #3D323F;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.75);
}

main {
  padding-top: 102px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

footer>div>div>ul {
  list-style-type: none;
  padding: 0;
}

footer>div>div>ul>li {
  display: inline-block;
}

img {
  border: 2px solid #3D323F
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background-color: #E4D9CE;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero {
  text-align: center;
}

#scavapp .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#contact {
  text-align: center;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-width: 250px;
}

[class*="col-"] {
  float: left;
  padding: 10px
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }

  body {
    font-size: 18px
  }

  .col-md-6 {
    width: 50%;
  }

  #home-page h3 {
    margin-top: 0;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 22px
  }

  .col-xl-5 {
    width: 41.66%;
  }

  .col-xl-7 {
    width: 58.33%;
  }
}
